## Python datetime

A date in Python is not a data type of its own, but we can import a module named **datetime** to work with dates as date objects. Commonly used classes in the **datetime** module are:

* date Class
* time Class
* datetime Class
* timedelta Class

### Example 1: Get Current $Date$ and $Time$

In [11]:
import datetime

dt = datetime.datetime.now()
print(dt)

2022-01-31 22:16:25.730275

The date contains **year**, **month**, **day**, **hour**, **minute**, **second**, and **microsecond**.

### Example 2: What's inside $datetime$?

We can use **dir()** function to get a list containing all attributes of a module.

In [3]:
import datetime

print(dir(datetime))

['MAXYEAR', 'MINYEAR', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'date', 'datetime', 'datetime_CAPI', 'sys', 'time', 'timedelta', 'timezone', 'tzinfo']

### Example 3: Get Current Date

In [8]:
import datetime

dt = datetime.date.today()
print(dt)

2022-01-31

### Example 4: Print today's $year$, $month$ and $day$

We can get year, month, day, day of the week etc. from the date object easily. Here's how:

In [9]:
from datetime import date

# date object of today's date
dt = date.today() 

print("Current year:", dt.year)
print("Current month:", dt.month)
print("Current day:", dt.day)

Current year: 2022
Current month: 1
Current day: 31

### Example 5: Creating Date Objects

To create a date, we can use the **datetime()** class (constructor) of the datetime module. The **datetime()** class requires three parameters to create a date: 
1. year
2. month
3. day

In [12]:
import datetime

dt = datetime.datetime(2022, 1, 31)

print(dt)

2022-01-31 00:00:00

The datetime() class also takes parameters for time and timezone (**hour**, **minute**, **second**, **microsecond**, **tzone**), but they are optional, and has a default value of 0, (None for timezone).

### Example 6: Time object to represent time

A time object instantiated from the time class represents the local time.

In [17]:
from datetime import time

# time(hour = 0, minute = 0, second = 0)
a = time()
print("a =", a)

# time(hour, minute and second)
b = time(10, 15, 34)
print("b =", b)

# time(hour, minute and second)
c = time(hour = 10, minute = 15, second = 34)
print("c =", c)

# time(hour, minute, second, microsecond)
d = time(10, 15, 34, 317668)
print("d =", d)

a = 00:00:00
b = 10:15:34
c = 10:15:34
d = 10:15:34.317668

### Example 7: Print hour, minute, second and microsecond

Once you create a time object, you can easily print its attributes such as **hour**, **minute** etc.

In [16]:
from datetime import time

tm = time(10, 23, 16)

print("hour =", tm.hour)
print("minute =", tm.minute)
print("second =", tm.second)
print("microsecond =", tm.microsecond)

hour = 10
minute = 23
second = 16
microsecond = 0

### Example 8: Python datetime object

The datetime module has a class named dateclass that can contain information from both **date** and **time** objects.

In [21]:
from datetime import datetime

#datetime(year, month, day)
a = datetime(2022, 10, 14)
print(a)

# datetime(year, month, day, hour, minute, second, microsecond)
b = datetime(2017, 11, 28, 23, 55, 59, 342380)
print(b)

2022-10-14 00:00:00
2017-11-28 23:55:59.342380

### Example 9: Print year, month, hour, minute and timestamp

In [22]:
from datetime import datetime

dt = datetime(2017, 11, 28, 23, 55, 59, 342380)
print("year =", dt.year)
print("month =", dt.month)
print("hour =", dt.hour)
print("minute =", dt.minute)
print("timestamp =", dt.timestamp())

year = 2017
month = 11
hour = 23
minute = 55
timestamp = 1511900759.34238

### Example 10: Difference between two dates and times

In [23]:
from datetime import datetime, date

t1 = date(year = 2018, month = 7, day = 12)
t2 = date(year = 2017, month = 12, day = 23)
t3 = t1 - t2
print("t3 =", t3)

t4 = datetime(year = 2018, month = 7, day = 12, hour = 7, minute = 9, second = 33)
t5 = datetime(year = 2019, month = 6, day = 10, hour = 5, minute = 55, second = 13)
t6 = t4 - t5
print("t6 =", t6)

print("type of t3 =", type(t3)) 
print("type of t6 =", type(t6))

t3 = 201 days, 0:00:00
t6 = -333 days, 1:14:20
type of t3 = <class 'datetime.timedelta'>
type of t6 = <class 'datetime.timedelta'>

### Example 11: The strftime() Method
The datetime object has a method for formatting date objects into readable strings. The method is called **strftime()**, and takes one parameter, format, to specify the format of the returned string:

In [40]:
import datetime

dt = datetime.datetime(2022, 1, 31)

print(dt.strftime("%a")) # Weekday, short version
print(dt.strftime("%A")) # WWeekday, full version
print(dt.strftime("%w")) # Weekday as a number 0-6, 0 is Sunday
print(dt.strftime("%d")) # Day of month 01-31

print(dt.strftime("%j")) # Day number of year 001-366
print(dt.strftime("%U")) # Week number of year, Sunday as the first day of week, 00-53
print(dt.strftime("%C")) # Century

print(dt.strftime("%b")) # Month name, short version
print(dt.strftime("%B")) # Month name, full version
print(dt.strftime("%m")) # Month as a number 01-12

print(dt.strftime("%y")) # Year, short version, without century
print(dt.strftime("%Y")) # Year, full version

print(dt.strftime("%H")) # Hour 00-23
print(dt.strftime("%I")) # Hour 00-12
print(dt.strftime("%p")) # AM/PM

Mon
Monday
1
31
031
05
20
Jan
January
01
22
2022
00
12
AM