## Variables
### 1. Variable Names
* A variable name must start with a **letter** or the **underscore** character
* A variable name **cannot start with a number**
* A variable name can only contain **alpha-numeric characters** and **underscores** (A-z, 0-9, and _ )
* Variable names are **case-sensitive**

In [19]:
myname = 'Yaser'
my_family = 'Rahmati'
_my_title = 'Network and Security Expert'
myWeb = 'Rahmaty Academy'
MYINSTA = '@yaser.rahmati'

### 2. Multi Words Variable Names
Variable names with more than one word can be difficult to read. There are several techniques you can use to make them more readable:

In [21]:
# Camel Case : Each word, except the first, starts with a capital letter
mySitebName = "Rahmati Academy"

# Pascal Case : Each word starts with a capital letter
MySiteName = "Rahmati Academy"

# Snake Case : Each word is separated by an underscore character
my_site_name = "Rahmati Academy"

### 3. Creating Variables
Python has **no command** for declaring a variable. A variable is created the moment you **first assign a value to it**.

In [10]:
a = 24
b = 'Rahmati Academy'
print(a)
print(b)

24
Rahmati Academy

### 4. Casting
If you want to specify the data type of a variable, this can be done with casting.

In [12]:
a = str(5)
b = int(5)
c = float(5)
d = complex(5)
print ( a , type(a))
print ( b , type(b))
print ( c , type(c))
print ( d , type(d))

5 <class 'str'>
5 <class 'int'>
5.0 <class 'float'>
(5+0j) <class 'complex'>

### 5. Single or Double Quotes?
String variables can be declared either by using **single** or **double** quotes:

In [14]:
a = 'Welcome to '
b = "Rahmati Academy"

print(a + b)

Welcome to Rahmati Academy

### 6. Case-Sensitive
Variable names are **case-sensitive**.

In [15]:
a = ' Yaser '
A = ' Rahmati '
print(a + A)

 Yaser  Rahmati

### 7. One Value to Multiple Variables
You can assign the same value to multiple variables in one line:

In [22]:
a = b = c = 1
print(a + b + c)

3

### 8. Many Values to Multiple Variables
Python allows you to assign values to multiple variables in one line:

In [23]:
a, b, c = "Yaser", "Rahmati", "Academy"
print(a)
print(b)
print(c)

Yaser
Rahmati
Academy

### 9. Output Variables
The Python **print** statement is often used to output variables. To combine both text and a variable, Python uses the + character:

In [25]:
a = "Academy"
print("Rahmati " + a)

Rahmati Academy

### 10. Global Variables
Variables that are created **outside of a function** are known as global variables. Global variables can be used by everyone, both **inside** of functions and **outside**.

In [28]:
# Example 1
# Create a variable outside of a function, and use it inside the function
x = 5

def myfunc():
  print(x)

myfunc()

5

In [29]:
# Example 2
# Create a variable inside a function, with the same name as the global variable
x = 5

def myfunc():
  x = 10
  print(x)

myfunc()
print(x)

10
5

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function. To create a global variable inside a function, you can use the **global** keyword.

In [31]:
# Example 3
# If you use the global keyword, the variable belongs to the global scope:

def myfunc():
  global x
  x = 5

myfunc()
print(x)

5

### 11. Built-in Data Types
Variables can store data of different types, and different types can do different things. Python has the following data types built-in by default, in these categories:

| Name | Type | Example |
| --- | --- | --- |
| Text Type: | str | x = "Hello World" |
| Numeric Types: | int, float, complex | x = 20 , y = 20.5 , y = 1j |
| Sequence Types: | list, tuple, range | x = ["apple", "banana"] , y = ("apple", "banana") , z = range(6) |
| Mapping Type: | dict | x = {"name" : "Yaser", "age" : 38} |
| Set Types: | set, frozenset | x = {"apple", "banana"} , y = frozenset({"apple", "banana"}) |
| Boolean Type: | bool | x = True |
| Binary Types: | bytes, bytearray, memoryview | x = bytes(5) , y = bytearray(5) , z = memoryview(bytes(5)) |

### 12. Type Conversion
For numbers, you can convert from one type to another with the **int()**, **float()**, and **complex()** methods:

In [33]:
x = 2    # int
y = 3.6  # float
z = 5j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

2.0
3
(2+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

### 13. Random Number
Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

In [37]:
# display a random number between 10 and 49

import random
print(random.randrange(10, 50))

25

### 14. Booleans
Booleans represent one of two values: **True** or **False**.

In [39]:
print(15 > 11)
print(9 == 7)
print(12 < 8)

True
False
False

The **bool()** function allows you to evaluate any value, and give you True or False in return.

In [45]:
print(bool("Rahmaty"))
print(bool(24))
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

True
True
False
False
False
False
False
False
False

You can create **functions** that returns a Boolean Value:

In [46]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

### 15. Strings
Strings in python are surrounded by either **single quotation** marks, or **double quotation** marks.

In [2]:
print("Rahmati")
print('Academy')

Rahmati
Academy

Assigning a string to a variable is done with the variable name followed by an equal sign and the string:

In [3]:
a = "Rahmati"
b = "Academy"
print(a)
print(b)

Rahmati
Academy

You can assign a multiline string to a variable by using **three quotes**:

In [8]:
# You can use three double quotes:
a = """I am a versatile, multi-skilled 
Network/Security Expert with extensive international 
experience in contributing to enterprise, government, 
and medium-size networks"""
print(a)

# Or three single quotes:
b = '''strong technical background and experience 
in security and operation including analysis, routing, 
switching, load balancing, network and infrastructure 
design, implementation, providing enhancements and 
support, monitoring ‎and maintenance'''
print(b)

I am a versatile, multi-skilled
Network/Security Expert with extensive international
experience in contributing to enterprise, government,
and medium-size networks
strong technical background and experience
in security and operation including analysis, routing,
switching, load balancing, network and infrastructure
design, implementation, providing enhancements and
support, monitoring ‎and maintenance

To get the length of a string, use the **len()** function.print

In [9]:
a = "Rahmati Academy"
print(len(a))

15

To check if a certain phrase or character is present in a string, we can use the keyword **in**.

In [13]:
txt = "This allows the antibody to potently inhibit receptor attachment."
print("inhibit" in txt)

True

To check if a certain phrase or character is NOT present in a string, we can use the keyword **not in**.

In [14]:
txt = "This allows the antibody to potently inhibit receptor attachment."
print("prevent" in txt)

False

### 16. Strings are Arrays
Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python **does not have** a **character data type**, a single character is simply a string with a length of 1. **Square brackets** can be used to access elements of the string.

In [17]:
a = "Rahmaty Academy"
print(a[1])
print(a[9])

a
c

Since strings are arrays, we can loop through the characters in a string, with a **for** loop.

In [19]:
for x in "Rahmati Academy":
  print(x)

R
a
h
m
a
t
i

A
c
a
d
e
m
y

### 17. Modify Strings
Python has a set of built-in methods that you can use on strings.

In [23]:
txt = " Rahmaty Academy "
# The upper() method returns the string in upper case:
print(txt.upper())

# The lower() method returns the string in lower case:
print(txt.lower())

# The strip() method removes any whitespace from the beginning or the end:
print(txt.strip())

# The replace() method replaces a string with another string:
print(txt.replace("a", "*"))

 RAHMATY ACADEMY
 rahmaty academy
Rahmaty Academy
 R*hm*ty Ac*demy

### 18. String Concatenation
To concatenate, or combine, two strings you can use the **+** operator.

In [24]:
a = "Rahmaty"
b = "Academy"
c = a + " " + b
print(c)

Rahmaty Academy

### 19. String Format
We cannot combine strings and numbers like this:

In [32]:
age = 38
txt = "My name is Yaser, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

But we can combine **strings** and **numbers** by using the **format()** method! The format() method takes the passed arguments, formats them, and places them in the string where the placeholders **{}** are:

In [33]:
age = 38
txt = "My name is Yaser, and I am {}"
print(txt.format(age))

My name is Yaser, and I am 38

The **format()** method takes unlimited number of arguments, and are placed into the respective placeholders:

In [34]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

### 20. Logical Operators
Logical operators are used to combine **conditional statements**:

In [29]:
x = 8

# and : Returns True if both statements are true
print(x<10 and x>5)

# or : Returns True if one of the statements is true
print(x<-6 or x>5)

# not : Reverse the result, returns False if the result is true
print(not(x<10 and x>5))

True
True
False

### 21. Arithmetic Operators
Arithmetic operators are used with numeric values to perform **common mathematical operations**:

In [30]:
x = 7
y = 3

# Addition
print(x+y)

# Subtraction
print(x-y)

# Multiplication
print(x*y)

# Division
print(x/y)

# Modulus
print(x%y)

# Exponentiation
print(x**y)

# Floor division
print(x//y)

10
4
21
2.3333333333333335
1
343
2